flask_test/__pycache__/home.cpython-37.pyc
flask_test/home.py
.pytest_cache/v/cache/nodeids
.vscode/settings.json
.vscode/launch.json
.pytest_cache/v/cache/stepwise
flask_test/__pycache__/hello.cpython-37.pyc
.gitignore
myenv/

