<!-- <h1>Hello world !!!</h1> -->
<!DOCTYPE html>
{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title%}Index{% endblock %}

{% block content%}
<div class="page-header">
    <h1>Hello world !!!!</h1>
    <h2> Hello , {% if name %}{{ name }}{% else %}Stanger{% endif %}</h2>
    {% if not known %}
    <p>please to see you !!!</p>
    {% else %}
    <p>Happy to see you again!!</p>
    {% endif %}
</div>
<form  method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.password.label }} {{ form.password() }}
    {{ form.submit() }}
</form>
{% endblock%}